@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800);
body {
  font-family: 'Open Sans', Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, serif;
  font-weight: 800;
}
