#node-edit #edit-title {
  height: auto;
}

.navbar-fixed-top {
  position: static;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 999;
}

html.js input.form-autocomplete {
  background: transparent;
}

#main-wrapper {
  margin-bottom: 50px;
  margin-top: 20px;
}

.pane-content .container {
  width: auto;
}

legend {
  border-bottom: 0;
}

.views-ajax-popup .scroll fieldset {
  padding: 5px;
}

html.js fieldset.collapsed {
  padding: 5px;
}

.collapse-processed .fieldset-wrapper {
  margin-left: 25px;
}

.form-actions .btn {
  margin-left: 5px;
  margin-right: 5px;
}

label.option {
  display: inline;
  font-weight: normal;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-left: 0px;
}

.media-list-thumbnails .form-type-checkbox {
  bottom: 0;
}

div#admin-toolbar.vertical {
  z-index: 9999;
}

#navbar {
  position: absolute;
  z-index: 9999;
}

/*
.update tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th,
  .update tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th,
  table.update, .update table.version {
  background-color: transparent;
}
*/

.update tbody > tr:nth-child(odd) > td, .update tbody > tr:nth-child(odd) > th, 
  .update tbody > tr:nth-child(even) > td, .update tbody > tr:nth-child(even) > th {
  background: transparent;
}

table.package tr.enabling, tr.selected td, tr.dblog-error, tr.dblog-notice, tr.dblog-warning, 
  tr.dblog-error .active, tr.dblog-notice .active, tr.dblog-warning .active {
  background: transparent;
}

.version-links .links {
  list-style-type: none;
}

table .active {
  background-color: transparent;
}

#module-filter-squeeze {
  background-color: transparent;
  border: 0;
}

tr.even, tr.odd {
  background-color: transparent;
  border-bottom: inherit;
  padding: inherit;
}
