#node-edit #edit-title {
  height: auto;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 999;
}

html.js input.form-autocomplete {
  background: transparent;
}

#main-wrapper {
  margin-top: 120px;
}

#footerlower {
  margin-top: 50px;
}