/**
 * @file
 * mcbryan panel layout
**/
.mcbryan-column {
  float: left;
  min-height: 1px;
  width: 34.043%;
}

.mcbryan-column-inner {
  margin-right: 20px;
}

.mcbryan-column3,
.mcbryan-secondary-column3 {
  margin-right: 0;
  min-height: 1px;
  width: 31.915%;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .mcbryan-column,
  .mcbryan-column3,
  .mcbryan-secondary-column3 {
    float: none;
    width: 100%;
  }
  .mcbryan-column-inner {
    margin-right: 0;
  }
}
