/**
 * Panopoly Modal Magic Styles
 */

/**
 * Styles for Menu Block Pane
 */
.menu-block-processed {
  border: 0;
}

@media only screen and (max-width: 480px) {
  // Hide IPE from mobile, since it doesn't really work anyway
  #panels-ipe-control-container {
    display: none;
  }
}



// Custom styling for Changing Layout Feature
.ctools-modal-content .form-item-categories label {
  float: left;
  font-weight: normal;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#panels-layout-category-Panopoly {
  margin: 3% 6%;
}

div.ctools-modal-content .panels-choose-layout .dependent-options {
  padding-left: 0px;
}

div.modal-content-preview-button {
  padding-top: 100px;
  text-align: center;
}

#panels-layout-category-Panopoly-wrapper .panels-layouts-category,
#panels-layout-category-Panopoly-wrapper .layout-link div {
  display: none;
}

#panels-layout-category-Panopoly-wrapper .layout-link {
  float: left;
  height: 68px;
  padding: 1.25em;
  text-align: center;
  width: 68px;
}

#panels-layout-category-Panopoly-wrapper .layout-link:hover {
  background-color: #BBB;
}

#panels-layout-category-Panopoly-wrapper .current-layout {
  background-color: #DDD;
}

/**
 * Custom styling for exposed views filter options
 */
#modal-content .form-item-offset,
#modal-content .form-item-items-per-page,
#modal-content .form-item-exposed-sort-order,
#modal-content .form-item-exposed-sort-by {
  float: left;
  width: 175px;
}

#modal-content .form-item-offset,
#modal-content .form-item-exposed-sort-order {
  clear: none;
}

#modal-content .form-item-exposed-sort-order label,
#modal-content .form-item-exposed-sort-by label {
  float: left;
  font-weight: normal;
  margin-right: 5px;
  width: auto;
  margin-top: 3px;
  font-size: 100%;
}

#modal-content .form-item-exposed-pager-id label {
  font-weight: normal;
}

#modal-content .general-settings-fieldset label {
  float: left;
  font-weight: normal;
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
}

#modal-content .general-settings-fieldset label.option {
  float:none;
}

#modal-content #edit-context label {
  float: left;
  font-weight: normal;
  width: auto;
  margin-top: 2px;
  margin-right: 5px;
}

#modal-content #views-exposed-pane div.form-item {
  display: inline;
}

#modal-content .form-item-view-settings {
  display:inline;
  margin-left: 5px;
}

/* Handle the Header Type Setting Element */
#modal-content .form-item-header-type label {
  display:inline;
  clear: none;
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}

#modal-content .form-item-header-type select {
  display: inline;
  margin-left: 5px;
  margin-top: 5px;
}

#modal-content .view-settings-wrapper .field-prefix {
  padding-right: 5px;
}

#modal-content .view-settings-wrapper .form-radios {
  display: inline;
  padding-right: 5px;
}

/**
 * Custom Stylizer CSS
 */
#ctools_stylizer_color_scheme_form {
  float: none;
}

#ctools_stylizer_color_scheme_form #palette .form-item  {
  width: auto;
  padding: .5em .75em;
}

div.ctools-modal-content #ctools_stylizer_color_scheme_form .form-item label {
  width: auto;
}

#ctools_stylizer_color_scheme_form #palette .form-item label {
  float: left;
  margin-right: 10px;
  margin-top: .25em;
}

/**
 * Remove the Save as Default Option
 */
#panels-ipe-edit-control-form #panelizer-save-default {
  display: none;
}
