// Views Related styles
//////////////////////////////////////

// Resolves views-admin label issue;
// @link https://github.com/drupalprojects/kalatheme/issues/31
.views-admin-label{
  display: inline-block;
  float: left;
  margin-right: 3pt;
}


//General Reset of padding for better layout
.row .views-exposed-widget[class*="col"]{
  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}
