/**
 * @file
 * ward panel layout
**/
.ward-container {
  margin-bottom: 1em;
}

.ward-sidebar {
  float: left;
  min-height: 1px;
  width: 34.043%;
}

.ward-sidebar-inner {
  margin-right: 20px;
}

.ward-content {
  float: left;
  width: 65.957%;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .ward-content,
  .ward-sidebar {
    float: none;
    width: 100%;
  }
  .ward-sidebar-inner {
    margin-right: 0;
  }
}
