/**
 * @file
 * Brenham Flipped panel layout
**/
.reynolds-container {
  margin-bottom: 1em;
}

.reynolds-sidebar {
  float: left;
  min-height: 1px;
  width: 31.915%;
}

.reynolds-content {
  float: left;
  width: 68.085%;
}

.reynolds-content-inner {
  margin-right: 20px;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .reynolds-content,
  .reynolds-sidebar {
    float: none;
    width: 100%;
  }
  .reynolds-content-inner {
    margin-right: 0;
  }
}
